<section class="w-screen bg-[#f8f9f4] h-screen flex items-center justify-center flex-col gap-7">
    <h1 class="text-8xl text-gray-950 text-center font-Bricolage font-bold">
        One Place for All <br> Your Recycling Needs
    </h1>
    <p class="w-2/4 text-lg text-primary text-center">
        One place for all your recycling needs. Streamline the process, reduce waste, and contribute to a sustainable future. Let's work together to make recycling easier and more effective for everyone.
    </p>
    <app-button-static text="Get Started"></app-button-static>
</section>